---
import Layout from "../layouts/Layout.astro";
import Logo from "../assets/logo.svg";
---

<Layout showBackground={true} showFooter={false}>
  <main>
    <div
      class="relative mx-auto flex max-w-3xl flex-col justify-center py-20 text-zinc-900 dark:text-zinc-100"
    >
      <div class="relative left-[90px] text-zinc-900 dark:text-orange-500">
        <Logo />
      </div>

      <p class="absolute top-[150px] left-[20px] font-mono">
        // welcome to my website
      </p>
      <p class="absolute top-[350px] left-[420px] w-full font-mono">
        // creative developer / designer
      </p>
      <p class="absolute top-[475px] left-[420px] font-mono">
        // based in finland
      </p>
      <div class="inline-flex flex-wrap items-center justify-around pt-24">
        <p class="font-mono">// only development is permanent</p>
      </div>
    </div>
  </main>
</Layout>
