---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const {
  href,
  class:
    className = "font-mono text-zinc-900 dark:text-zinc-200 hover:text-orange-500 dark:hover:text-orange-500 px-3 py-2 rounded-md text-2sm lowercase",
  ...props
} = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
