---
import Logo from "../../assets/logo_header.svg";
---

<div
  class="mx-auto flex max-w-2xl items-center justify-center border-t border-b border-zinc-300 px-4 py-12 text-zinc-900 dark:border-zinc-700 dark:text-orange-600"
>
  <Logo />
</div>
